<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Demo song</string>
		<key>Signature</key>
		<string>2/4</string>
		<key>BPM</key>
		<integer>80</integer>
		<key>Lamps</key>
		<integer>2</integer>
		<key>Comment</key>
		<string>The comment text will show up while the song is playing</string>
	</dict>
</array>
</plist>
